.hidden
{
  display:none;
}

div.switcher
{
    float:right;
}

div.asline div.episode div.date
{
  float: right;
  margin: 0px;
  padding-right: 5px;
}

div.asline div.episode h5
{
  float: left;
  margin: 0px;
  padding-right: 5px;
}
div.asline div.episode
{
    width: 450px;
    float: none;
    padding-top: 10px;
}
div.episode
{
  width: 200px;
   float: left;
}
ul#menu li
{
  /*margin-left:20px;*/
}
ul#menu li a img
{
  position:absolute;
  top:5px;
  z-index:3;
  -ms-transform:rotate(15deg);
  -o-transform:rotate(15deg);
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
}
ul#menu li a img.noRotation
{
  position:absolute;
  top:5px;
  z-index:3;
  -ms-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
}

div.success
{
  color: #87A019;
}

div.consumer,a.consumer, div.showconsumer, div.wishlist
{
  background-repeat:no-repeat;
}
a.consumer
{
  background-position:center right;
  padding-right: 15px;
}
.consumed
{
  background-image:url(../images/green_flag.png);
}
.notconsumed
{
  background-image:url(../images/red_flag.png);
}

a.consumerSmall.consumed
{
 background-image:url(../images/green_flag16.png);
}
a.consumerSmall.notconsumed
{
 background-image:url(../images/red_flag16.png);
}

.wish
{
  background-image:url(../images/tag_green.png);
}
.nowish
{
  background-image:url(../images/tag_red.png);
}

ul.epbottom
{
  list-style:none;
  margin: 0;
  padding: 0;
  text-align:center;
  height: 35px;
}
ul.epbottom li
{
  float:left;
  margin-right:5px;
}
ul.epbottom li div.wishlist,
ul.epbottom li div.consumer
{
  width: 28px;
  height: 32px;
}
ul.epbottom li.wishlist,
ul.epbottom li.consumer
{
  cursor:pointer;
  padding-top: 2px;
}

div.episode h5 a,
  div.box h3 a
{
	color: #2582A4;
  text-decoration: none;
}
html body div#content div#colTwo div.box
{
  margin-bottom: 0px;
}
html body div#content div#colTwo div.box h3
{
  font-size: small;
}

div.epicture img
{
  float:right;
}

div.hoverpic
{
  position:absolute;
  padding: 15px;
  margin-left: 15px;
  background-color:  #87C4DB;
}



.triangle-border
{
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	border:3px solid #6EAC2C;
	color:#333;
	background:#6EAC2C;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-18px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
    border-width:18px 18px 0;
	border-style:solid;
    border-color:#6EAC2C transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the smaller  triangle */
/*.triangle-border:after {*/
	/*content:"";*/
	/*position:absolute;*/
	/*bottom:-9px; *//* value = - border-top-width - border-bottom-width */
	/*left:47px; *//* value = (:before left) + (:before border-left) - (:after border-left) */
	/*border-width:15px 15px 0;*/
	/*border-style:solid;*/
	/*border-color:#fff transparent;*/
    /* reduce the damage in FF3.0 */
    /*display:block;*/
    /*width:0;*/
/*}*/


/* creates the larger triangle */
.triangle-border.top:before
{
	top:-20px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	left:auto;
	right:40px; /* controls horizontal position */
    border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after
{
	top:-17px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	left:auto;
	right:43px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 17px 17px;
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
	margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
	margin-right:30px;
}


.bubbleHoverTarget
{
  position:absolute;
  z-index: 5;
}


ul.none li
{
    list-style: none;
    line-height: 200%;
}