<div class="accordion">

   <h3>future and past </h3>
  <div>
    <p>
    <ul>
    <li class="first">
      <a href="/list/upcoming">upcoming</a>
    </li>
    <li>
      <a href="/list/recent">recent</a>
    </li>
  </ul>
    </p>
  </div>

  <h3>import</h3>
  <div>
    <p>#{form @importFromEpguide(field?.title)} #{field 'series'}
      <label>epguides.com - title</label><br/>
      <input type="text" name="${field.name}"
                 style="width:120px;"
                 class="${field.errorClass}" />
        #{/field}
      <input type="submit" value="go"/>
      #{/form}
    </p>
  </div>

  <h3>wishlist </h3>
  <div>
    <p>
      <ul>
      #{list items:_wishlist, as:'media'}
      <li>${media.title}</li>
      #{/list}
      </ul>
    </p>
  </div>


</div>
