<div class="episode">
  <a href="@{Application.show(_episode.id)}" class="episodelink">${_episode.publishingDate.format('yyyy-MM-dd')}<br/>
  ${_episode.identifier}<br/>
  ${_episode.subtitle}<br/>
  ${_episode.title}</a>
</div>
