<div class="episode bubbleHover">
  <h5><a class="consumerSmall consumer ${_episode.consumed ? 'consumed' : 'notconsumed'}" href="/episode/${_episode.title}">${_episode.title} - ${_episode?.identifier}</a></h5>
  ${_episode.subtitle}

  <div class="date">
    Airdate: ${_episode.publishingDate?.format('yyyy-MM-dd')}
  </div>

  <div class="hidden bubbleHoverTarget triangle-border top">
    <ul class="epbottom">
      <li class="isohunt">
        <a href="http://isohunt.com/torrents.php?ihq=${_episode.title + ' ' +_episode.identifier}&ext=&op=and"
           target="_blank" title="search on isohunt">
          <img src="@{'/public/images/isohunt_logo.png'}"
               alt="search on isohunt"/>
        </a>
      </li>
      <li class="consumer">
        <div title="${_episode.consumed ? 'un' : ''}mark as consumed"
             class="consumer ${_episode.consumed ? 'consumed' : 'notconsumed'}"
             mediaid="${_episode.id}"> &nbsp;</div>
      </li>
      <li class="wishlist">
        <div title="${_user?.wishlist?.contains(_episode) ? 'remove from' : 'add to'} your wishlist"
             class="wishlist ${_user?.wishlist?.contains(_episode) ? 'wish' : 'nowish'}"
             mediaid="${_episode.id}"> &nbsp;</div>
      </li>
    </ul>

  </div>
</div>
