<div class="box">
  <h3><a style="text-decoration:none;color:#2582A4" href="/list/${_title}">${_title}</a></h3>
  <ul class="bottom">
    #{list items:_list, as:'ep'}
    <li>#{episode_up episode:ep /}</li>
    #{/list}
  </ul>
</div>