#{extends 'main.html' /}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}">
<div id="colTwo">
<div id="crudBlank" class="${type.name}">
	
	<h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

  #{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
   #{/if}

	<div class="objectForm">
	#{form action:@create(), enctype:'multipart/form-data'}
		#{crud.form}
     #{crud.custom 'tags'}
     #{/crud.custom}
     #{crud.custom 'children'}
     #{/crud.custom}
		#{/crud.form}
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
			<input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
		</p>
	#{/form}
	</div>

</div>
</div>