#{extends 'main.html' /}



<div id="colTwo">
<h2>${title} (${show.size})
  <a href="@{Application.consumeShow(title,!consumed)}">
    <div class="showconsumer ${consumed?'consumed':'notconsumed'}">&nbsp;</div>
  </a>
</h2>
  <div class="epicture">
    <img src="@{tvShowPicture(title)}" alt=""/>
  </div>
  ETT is ${period}
  <div class="switcher">
    <img class="out" src="@{'public/images/icons/32x32/zoom_out.png'}"/>
    <img class="in" src="@{'public/images/icons/32x32/zoom_in.png'}"/>
  </div>
  <div class="eplist">
  #{list items:show, as:'ep'}
     #{episode episode:ep, user:user/}
  #{/list}
  </div>

</div>
