#{extends 'main.html' /}

<div id="colTwo">
  #{if flash.success}
  <div class="success">${flash.success}</div>
  #{/if}

<h2>Welcome to eptracker</h2>

<p class="indent"><strong>Integral</strong> is a free template from <a
        href="http://freecsstemplates.org/">Free CSS Templates</a> released
  under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons
    Attribution 2.5 License</a>. The photo to the left is from <a
          href="http://pdphoto.org/">PDPhoto.org</a>. You're free to use this
  template for both commercial or personal use. I only ask that you link back to
  <a href="http://freecsstemplates.org/">my site</a> in some way. Enjoy :)</p>
<p class="indent">Sed vel quam. Vestibulum pellentesque. Morbi sit amet magna ac
  lacus dapibus interdum. Donec pede nisl, gravida iaculis, auctor vitae,
  bibendum sit amet, mauris. Cras adipiscing libero et risus. Donec rutrum
  tempus massa. Proin at mauris sed elit venenatis porttitor. Morbi quam nisl,
  fringilla quis, sagittis nec, adipiscing at, elit. Maecenas sed sem sit amet
  lectus mattis molestie. Integer quis eros lorem ipsum dolor sit amet veroeros
  consequat.</p>

<!--<div class="box">-->
  <!--<h3>Fusce quisque condimentum</h3>-->
  <!--<h4><strong>12.01.2006</strong> | <a href="#">34 Comments</a></h4>-->

  <!--<p class="bottom">-->
    <!--<ul>-->
      <!--#{list items:episodes, as:'ep'}-->
        <!--#{episode episode:ep /}-->
      <!--#{/list}-->
    <!--</ul>-->
  <!--</p>-->
<!--</div>-->
<!--<div class="box">-->
  <!--<h3>Maecenas lectus mattis</h3>-->
  <!--<h4><strong>12.01.2006</strong> | <a href="#">16 Comments</a></h4>-->

  <!--<p class="bottom">Morbi sit amet magna ac lacus dapibus interdum. Donec nec-->
    <!--risus vel sem dignissim tristique. Sed neque. Fusce in elit. Quisque-->
    <!--condimentum, ante id convallis convallis, sagittis nec, adipiscing at, elit.-->
    <!--Maecenas sed sem sit amet lectus mattis molestie. Integer quis eros sapien-->
    <!--est dignissim elit, vel pulvinar augue eros quis metus. Suspendisse pede-->
    <!--nisl, gravida iaculis, auctor vitae, bibendum sit amet, mauris. Cras-->
    <!--adipiscing libero et risus. Donec rutrum tempus massa. Proin at mauris sed-->
    <!--elit venenatis porttitor. Morbi quam nisl, fringilla quis, sagittis nec,-->
    <!--adipiscing at, elit.</p>-->
<!--</div>-->
</div>

<script type="text/javascript">
  $(document).ready(
          function()
          {
            setTimeout(function(){
            $('.success').effect('highlight',{},1500).effect('fade')
            }, 1000);

          }
          );
</script>