#{extends 'main.html' /}



<div id="colTwo">
<h2>Welcome to eptracker</h2>

<div class="box">
  <h3>Keep track of watched, upcoming and past episodes</h3>

  <p></p>
  <h4>TV Show Stats</h4>
    <ul class="none">
      <li>Total of ${tvshows.size} tv shows</li>
      <li>${upcoming.size} upcoming episodes</li>
      <li>Total of ${allSize} tv episodes</li>
      <li>${consumedSize} tv episodes that have been watched</li>
      <li>${consumedSize * 0.75} estimated hours spent before a tv that would be a period of ${period}</li>
      <!--#{list items:episodes, as:'ep'}-->
        <!--#{episode episode:ep /}-->
      <!--#{/list}-->
    </ul>
  </p>
</div>

</div>