#{extends 'main.html' /}



<div id="colTwo">
<h2>${type}</h2>

<p class="">
<div class="switcher">
  <img class="out" src="@{'public/images/icons/32x32/zoom_out.png'}"/>
  <img class="in" src="@{'public/images/icons/32x32/zoom_in.png'}"/>
</div>
  <div class="eplist">
  #{list items:episodes, as:'ep'}
  #{episode episode:ep /}
  #{/list}
  </div>
</p>

</div>
