#{extends 'main.html' /}



<div id="colTwo">
<h2>${movies.size} movies</h2>

  #{list items:movies, as:'mov'}

  <div class="box">
    <h3><a class="ephover" href="episode/${mov.title}">${mov.title}</a></h3>
  </div>

  #{/list}

  <div class="hidden hoverpic">
    <img src="#" alt=""/>
  </div>
</div>
