#{extends 'main.html' /}



<div id="colTwo">
<h2>${media.title}</h2>

  <p class="">
    <strong>${media.identifier} - ${media.subtitle}</strong>
    ${media.isUpcoming()? 'will be aired on' : 'was aired on'}
    ${media.publishingDate.format('yyyy-MM-dd')}
  </p>

  <p class="">
    lookup on isohunt, epguide.com, tv.com
  </p>

  <ul class="epbottom">
    <li class="isohunt">
      <a href="http://isohunt.com/torrents.php?ihq=${media.title + ' ' +media.identifier}&ext=&op=and"
         target="_blank">
        <img src="@{'/public/images/isohunt_logo.png'}" align="search on isohung" />
      </a>
    </li>
    <li class="consumer">
      <div class="consumer ${media.consumed ? 'consumed' : 'notconsumed'}">&nbsp;</div>
    </li>
  </ul>

</div>