#{extends 'main.html' /}



<div id="colTwo">
<h2>${tvshows.size} tv shows</h2>

  #{list items:tvshows, as:'title'}

  <div class="box">
    <h3><a class="ephover" href="episode/${title}">${title}</a><span class="hidden" src="@{tvShowPicture(title)}"/></h3>
    <a href="/deleteShow/${title}">delete</a>
  </div>

  #{/list}

  <div class="hidden hoverpic">
    <img src="#" alt=""/>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(
          function()
          {
            $(".ephover").hover(
                    function()
                    {
                      var source = $(this);
                      var src = source.next(".hidden").attr("src");
                      var hoverPic = $(".hoverpic");
                      hoverPic.children('img').attr('src', src);
                      var pos = source.offset();
                      var width = source.width();
                      var height = hoverPic.children('img').attr('height');
                      hoverPic.css(
                      {
                        left:(pos.left + width) + "px",
                        top:(pos.top - height/2) + "px"
                      }
                              );

                      hoverPic.removeClass('hidden');
                    },
                    function()
                    {
                      $(".hoverpic").addClass('hidden');
                      $(".hoverpic").children('img').attr('src', '');
                    }
                    );
          }
          );
</script>
